.text-panel{
	height: 220px;
	width: 500px;
	border-radius: 10px;
	background-color: #EEEDEB;
	float: center;
	margin: 0 auto;
	color: #990000;
	font-weight: bold;

}

.about-description{	
	padding: 20px 20px 20px 20px;
	margin: 35px 20px 20px 20px;
	
}

.img-panel .img-responsive{	
	display: block;
    margin: 0 auto;
}

.my-footer{
  position: absolute;  
  bottom: 0;
  right: 0;
  left: 0;
}

.about-body{
	padding-top: 80px;
}

