<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>

  <title>{% block title_block %}The Base Page{% endblock %}</title>

  <!-- bootsrap declerations -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
  
<script type= "text/javascript">
/*  
  $('#thenavigation li').click(function() {
    alert("hello");
      $(this).closest("li").addClass('active').siblings().removeClass('active');
      return(false);   // no default behavior from clicking on the link
  });
*/
  /*function onTabClick(e){
    console.log(e);
    alert("hi");
    var ul = document.getElementById('thenavigation');
    
    for (var i=0;i<ul.children.length;i++){
       ul.children[i].className = "" ;
       
       if(ul.children[i].id == e){
          alert("in here!") 
          ul.children[i].className = "active";
       }  
    }
  }setTimeout(onTabClick,5000);
  */
  /*$(function(){
    $('#menu > ul.nav li a').click(function(e) {
        alert("Hi!!!");
        setTimeout(function () {
         alert("Hi!!!"); 
        var $this = $(this);
        $this.parent().siblings().removeClass('active').end().addClass('active');
      },2000);        
    });
  });*/

  </script>



  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  {% block head_block %} {% endblock %}


  <link rel="stylesheet" href="{% static "DarkSky-Dev/css/base.css" %}" />
  <link rel="stylesheet" href="{% static "DarkSky-Dev/css/bootstrap-social.css" %}" /> <!-- CSS -->

  
</head>
{% block script_block %}

{% endblock %}



<body>
  

<div class="wrapper">
<nav class="navbar navbar-inverse" >
  <div class="container-fluid"  >
    <div class="navbar-header">
      <a class="navbar-brand" href="/demosky/">Nights Watch</a>
    </div>
    <ul class="nav navbar-nav" id="thenavigation">
      <li><a href="/demosky/">Home</a></li>
      {% if user.is_staff %}
        <li ><a href="/demosky/manage-user">Manage User</a></li>
        <li ><a href="/demosky/manage-sensors">Manage Sensors</a></li>
      {% endif %}
      <!-- bootsrap declerations 
      <li><a href="#">Page 1</a></li>-->
    </ul>

    {% if user.is_authenticated %}

          <ul class="nav navbar-nav">
              <li><a href="/demosky/profile">Profile</a></li>
              <li><a href="/demosky/search">Socialize</a></li>
          </ul>
       <ul class="nav navbar-nav navbar-right">
         <li><a href="/demosky/logout/"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;{{request.user}} Logout</a></li>
       </ul>

 
     {% else %} 
       <ul class="nav navbar-nav navbar-right">
        <li><a href="/demosky/register/"><span class="glyphicon glyphicon-user"></span> Register</a></li>
         <li><a href="/demosky/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
       </ul>

      
     {% endif %} 

  </div>
</nav>


  
<div class="container" class="wrapper">
  {% block body_block %}
  <p align="center" class="text-big">This is the basic Layout !</p>
  {% endblock %}
</div>


</div>
<div id="footer">
    <div id="footcontainer">
        <p style="color:white" align="center">
            Created by the NightsWatch Team 
        </p>
        <p align="center">
            <a target="_blank" href="https://darksky.net/">Dark Sky</a>
            &nbsp;|&nbsp;<a target="_blank" href="https://www.fs.usda.gov/hoosier/">Hoosier National Forest</a>
            
        </p>
    </div>
</div>




</body>
</html>
