
{% load staticfiles %}
{% load static %}

<html>

<body background="/static/DarkSky-Dev/imgs/Background.jpg">

<div class="wrapper">
<nav class="navbar navbar-inverse" >
  <div class="container-fluid" >
    <div class="navbar-header">
      <a class="navbar-brand" href="/demosky/">Nights Watch</a>
    </div>
    <ul class="nav navbar-nav" id="thenavigation">
      <li class="active"><a href="/demosky/">Home</a></li>
      {% if user.is_staff %}
        <li ><a href="/demosky/manage-user">Manage User</a></li>
        <li ><a href="/demosky/manage-sensors">Manage Sensors</a></li>
      {% endif %}
      <!-- bootsrap declerations
      <li><a href="#">Page 1</a></li>-->
    </ul>

    {% if user.is_authenticated %}

          <ul class="nav navbar-nav">
              <li><a href="/demosky/profile">Profile</a></li>
              <li><a href="/demosky/search">Socialize</a></li>
          </ul>
       <ul class="nav navbar-nav navbar-right">
         <li><a href="/demosky/logout/"><span class="glyphicon glyphicon-log-in"></span>{{request.user}} Logout</a></li>
       </ul>


     {% else %}
       <ul class="nav navbar-nav navbar-right">
        <li><a href="/demosky/register/"><span class="glyphicon glyphicon-user"></span> Register</a></li>
         <li><a href="/demosky/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
       </ul>


     {% endif %}

  </div>
</nav>
</div>

</body>


<head>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "DarkSky-Dev/css/chat.css" %}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="chat-body" class="panel panel-default">
        {% if topic != NULL %}
             <div class="panel-heading custom_class">Discussion Topic: {{topic}} </div>
        {% else %}
             <div class ="panel-heading custom_class"><h4><b class="headers"> General Chat </b></h4></div>
        {% endif %}
        <div id="msg-list-div" class="panel-body">
            <ul id="msg-list" class="list-group">
                {% for obj in chat %}

                        {% if obj.user == request.user %}
                            <li class="text-right list-group-item"></li>
                        <li class="text-right list-group-item"><b><font color ='green'>{{ obj.user }}:</font></b> {{ obj.message }}<br><small>{{obj.created}}</small></li>

                        {% else %}
                            <li class="text-left list-group-item"></li>
                        <li class="text-left list-group-item"><b><font color = 'blue'>{{ obj.user}}:</font></b> {{ obj.message }}<br><small>{{obj.created}}</small></li>

                        {% endif %}
                    {% empty %}
                        <li class="text-right list-group-item">No messages yet!</li>

                {% endfor %}
                <script>
                    var chatlist = document.getElementById('msg-list-div');
                    chatlist.scrollTop = chatlist.scrollHeight;
                </script>
            </ul>
        </div>
    </div>

    <form id="chat-form" method="post" action="post/" autocomplete="off">
            <div id="chat-bottom" class="input-group">
                <!--  <input disabled  maxlength="3" size="2" value="99" id="counter" ><small>character's remaining</small> -->
                <input type="text" onkeyup="textCounter(this,'counter',99);" id="chat-msg" name="chat-msg" maxlength="99" class="form-control" />
                <!--script to count and display text counter-->
                <script>
                function textCounter(field,field2,maxlimit)
                {
                 var countfield = document.getElementById(field2);
                 if ( field.value.length > maxlimit ) {
                  field.value = field.value.substring( 0, maxlimit );
                  return false;
                 } else {
                  countfield.value = maxlimit - field.value.length;
                 }
                }
                </script>
                <input type="hidden" id="topicname" value="{{topic}}">
                <span class="input-group-btn">
                    <input class="btn btn-default" id="send" type="submit" value="Send"/>
                </span class>
            </div>
    </form>
</body>


<script src="{% static 'chat.js' %}"></script>
</html>
