{% extends 'demosky/base.html' %}
{% load staticfiles %}
{% block title_block %}Home Page{% endblock %}

 {% block body_block %}

<div align="center" >
	  <select name="sensornumber" id="sensornumber" class="form-control" style="display: inline-block; width: 10%">
	  {% for sensor in sensorlist %}
	  	<option value="{{sensor.sensor_id}}">Sensor {{sensor.sensor_id}}</option>
	  {% endfor %}
	  </select>

     <!--  <input type="text" id="search-criteria" value="" /> -->
      <input type="button" class="btn btn-default" id="search" value="search" onclick="searchSensor();" 
      style="margin-top: -4px;">
</div>

 <h1 align="center" class="headers">Hoosier National Forest</h1>
 <div id="map" style="width:1000px;height:450px;background:yellow; margin: 0 auto 0 auto;"></div>

 <div class="text-big" id="try">
</div>

 <div class="text-big" id="try1">
</div>


</div>

<script type="text/javascript">

function testfn(){
	var test = document.getElementById("test1").innerHTML;
	//alert(test);
		$.ajax({
        	url: 'ajax/favourites_mark/',
        	type: 'post',
        	data: {
          		'var1': test,
          		'uname' : '{{user}}',
          		'csrfmiddlewaretoken': '{{ csrf_token }}',},
        	dataType: 'json',
        	success: function (data) {
            		//alert(data.value);
            		if(data.value == "pass"){
            			location.reload(true);}
            		}  });
}


function searchSensor(){
	search = document.getElementById("sensornumber").value;
	//console.log(search);
	var myObj, j=[], x="";
	myObj = JSON.parse("{{full_list|escapejs}}");
	Object.keys(myObj).forEach(function(key,index){
		j.push(myObj[key]);
	});
	var size = Object.keys(j).length;
	var key;
	/*for(var i=1; i< size ; i++){
			if(myObj[i][0] == search){
				key = i;
				break;
			}
	}*/

	myMap(myObj[search])


}

function myMap(searchObj) {
	//console.log(searchObj);
	var ujer = '{{user}}';
	var myObj, j=[], x="";
	myObj = JSON.parse("{{full_list|escapejs}}");
	Object.keys(myObj).forEach(function(key,index){
		j.push(myObj[key]);
	});

	//new code

	//alert(j);

	if(searchObj == undefined){
		searchObj =[];
		searchObj[1] = 38.4737775 		;
		searchObj[2] = -86.5473785
	}

	var mapOptions = {
    	center: new google.maps.LatLng(searchObj[1], searchObj[2]),
    	zoom: 14,
    	mapTypeId: google.maps.MapTypeId.HYBRID
	}

	var map = new google.maps.Map(document.getElementById("map"), mapOptions);

	var marker,i;
	var size = Object.keys(j).length;
	//alert(size);

	var favsenlist;
    favsenlist = JSON.parse("{{fav_sensors|escapejs}}");
    var favsenlen = favsenlist.length;
    //console.log(favsenlen);
    //console.log(favsenlist[0] == j[0][0]);
	 for (i = 0; i < size; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(j[i][1], j[i][2]),
        map: map,
        title: j[i][3],
      });



    var infowindow = new google.maps.InfoWindow();
    var contentString;
     google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {


        	contentString =
          	     '<div id="content">'+
				'<p>' +'Sensor '+j[i][0]+'<br/>' +
				'<img src="/static/DarkSky-Dev/imgs/' + j[i][3] + '.jpg"/>'+
				'<br/>' + '<br/>'+ '<div id="test1" hidden>' + j[i][0] + '</div>' +
				'Sensor light level :' + '<br/>' + '<p id="test">' + '<img src="/static/DarkSky-Dev/imgs/';
				if(j[i][4]<33){
					contentString += 'lightlow.png" style="width:20px;height:20px"/>';
				}
				else if(j[i][4]>66){
					contentString += 'lighthigh.png" style="width:20px;height:20px"/>';
				}
				else {
					contentString += 'lightmed.png" style="width:20px;height:20px"/>';
				}

				contentString +=j[i][4] + '</p>' + '<br/>' +

				'Sensor battery level :'  + '<br/>' + '<img src="/static/DarkSky-Dev/imgs/';
				if(j[i][5]<33){
					contentString += 'Batterylow.png" style="width:20px;height:20px"/>';
				}
				else if(j[i][5]>66){
					contentString += 'Batteryhigh.png" style="width:20px;height:20px"/>';
				}
				else {
					contentString += 'Batterymed.png" style="width:20px;height:20px"/>';
				}
				contentString+=  j[i][5] +'%'+
				'</p>';


				if(ujer != 'AnonymousUser'){


					var starcond = false;
					
					for (var n = 0 ; n <= favsenlen-1 ; n++) {
						console.log(favsenlist[n] == j[i][0]);
						if (favsenlist[n] == j[i][0]){
							starcond = true;
							console.log("came here");

						}

					}

					
					if(starcond){
						contentString += '<input type="image" onclick="testfn()" src="/static/DarkSky-Dev/imgs/star.jpg" style="width:40px;height:40px"/>'
					+
				'</div>';


					}else{
					contentString +=
				'<button type="button" id="favbut" onclick="testfn()">Mark as Favourite ?</button>'
				+
				'</div>';}
			} else {

						contentString +=
				'login please'
				+
				'</div>';
			}




          infowindow.setContent( contentString );
          infowindow.open(map, marker);
        }
      })(marker, i));
}}

function weathermine() {
	var myObj;
	myObj = JSON.parse("{{weather_data|escapejs}}");
	

	var len = 36;
	var datetime;
	var weather;
	var det_weather;
	var tempnow;

	var html = "<div id='timeline' class='Climate'>";
	html += "<table border = '1px' style='border-radius:10px'>";

	html += "<tr>";
	html += "<td background-color:#BBBBBB' >Date</td>";
	for (var i = 0; i < len; i += 4) {
			datetime = myObj[i];
			
			res = datetime.split(" ");

			html += "<td style='bgcolor:rgba(0, 0, 0, 0.0);' align='center'>" + res[0].slice(5, 10) + "</td>";
	}
	html += "</tr>";

	html += "<tr>";
	html += "<td background-color:#BBBBBB' >Time</td>";
		for (var i = 0; i < len; i += 4) {
			datetime = myObj[i];
			
			res = datetime.split(" ");

			html += "<td style='bgcolor:rgba(0, 0, 0, 0.0);' align='center'>" + res[1].slice(0,5) + " Hrs</td>";
		}
	html += "</tr>";

	html += "<tr >";
	html += "<td background-color:#BBBBBB' >Weather</td>";
	for (var i = 0; i < len; i += 4) {
		datetime = myObj[i];
		weather = myObj[i + 1];
		det_weather = myObj[i + 2];
		tempnow = myObj[i + 3];
		html += "<td align='center'><p>"+weather+"</p>";
		if (weather == "Sunny") {
				html += '<img style="width: 50px; height: 50px;" src="/static/Darksky-Dev/imgs/sunny.png"/>';
			}
			else if (weather == "Clouds") {
				html += '<img style="width: 50px; height: 50px;" src="/static/Darksky-Dev/imgs/clouds.png"/>';
			}
			else if (weather == "Rain") {
				html += '<img style="width: 50px; height: 50px;" src="/static/Darksky-Dev/imgs/rain.png"/>';
			}
			else if (weather == "Clear") {
				html += '<img style="width: 50px; height: 50px;" src="/static/Darksky-Dev/imgs/clear.png"/>';
			}	
		html += "</td>";
		
		}
	html += "</tr>";
	html += "<tr>";
	html += "<td background-color:#BBBBBB' >Temperature(F)</td>";
	for (var i = 0; i < len; i += 4) {
			datetime = myObj[i];
			weather = myObj[i + 1];
			det_weather = myObj[i + 2];
			tempnow = myObj[i + 3];
			html += "<td align='center'>"+tempnow+"</td>";
		}	
	html += "</tr>";
	html += "</table>";
	html += "</div>";
	document.getElementById("weatherstuff").innerHTML = html;

}


</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA22S--gBRL49Y2SRDiE15XMlmvf2DEQ3Y&callback=myMap"></script>


<!-- Bar format by Adarsh -->

<!-- Adding another bar for displaying information-->
<div class="panel-group">
	<div class="panel panel-default" style="background:transparent;">
		<div class="panel-heading" style="background:transparent;">
			<h2 class="panel-title" >
					<h2 align="center" margin-top="40px"><a data-toggle="collapse" href="#collapse3" style="background:transparent;color:inherit">Sensor Values</a></h2>
			</h2>
		</div>
		<div id="collapse3" class="panel-collapse collapse">
			<div class="badatable" id="testtable"></div>
		</div>
	</div>
</div>

<div id="sensor">
	
</div>
<h2 align="center" margin-top="40px"> Weather Today </h2>
<div class="weatherstuff" id="weatherstuff">
	<script type="text/javascript">
		weathermine();
	</script>
</div>



<script type="text/javascript">

//alert("hello");
var x=sensor();


    var html = "<table border='5px' style='width:1000px' align='center' background=''>";

    html+="<tr class='noBorder'style='background-color:#BBBBBB'>";
    for (var i = 0; i < x.length; i++) {
        html+="<td>Sensor "+x[i][1]+"</td>";
    }
    html+="</tr>";
    html+="<tr class='noBorder'>";
    for (var i = 0; i < x.length; i++) {
      html+="<td>Light Intensity: "+x[i][0]+"</td>";
    }
    html+="</tr>";
    html+="<tr>";
    for (var i = 0; i < x.length; i++) {
      if(x[i][0]<34){
        html+="<td><img src='/static/DarkSky-Dev/imgs/Meterlow.png' width='130px' height ='100px'></td>";
      }
      else if(x[i][0]>66){
        html+="<td><img src='/static/DarkSky-Dev/imgs/Meterhigh.png' width='130px' height ='100px' ></td>";
      }
      else{
        html+="<td><img src='/static/DarkSky-Dev/imgs/Metermed.png' width='130px' height ='100px' ></td>";
      }
    }
    html+="</tr>";

    html+="</table>";
document.getElementById("testtable").innerHTML = html;


function sensor() {
	// body...
	var myObj1, q=[];
	myObj1 = JSON.parse("{{light_list|escapejs}}");
	Object.keys(myObj1).forEach(function(key,index){
		q.push(myObj1[key]);
	});

	var keySorted = q.sort(function(a, b){return a[0] - b[0]});
	return q;

}
	
</script>

<div align = "center">

<div class="panel-group" >
	<div class="panel panel-default" style="background:transparent;">
		<div class="panel-heading" style="background:transparent;">
			<h4 class="panel-title">
				<a data-toggle="collapse" href="#collapse1" style="background:transparent;">Yearly Analysis</a>
			</h4>
		</div>
		<div id="collapse1" class="panel-collapse collapse" >
			<canvas id="myChart" width="900" height="300"></canvas>
		</div>
	</div>
</div>



<script type="text/javascript">
	
	var data_array = JSON.parse("{{chart_data|escapejs}}");
	

	var custom_label;
	var temp_arr_dat = [];

	var x_axis = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
	//var sen1 = [3200, 6000,500,4300]
	custom_label = 'sensor-'+ data_array[0];
	for (var i = 1; i <=12; i++) {
		temp_arr_dat.push(data_array[i]);
	}

	var ctx = document.getElementById("myChart");

	var data ={
	    labels: x_axis,
	    datasets: [
	      { 
	        data: temp_arr_dat,
	        label: custom_label,
	        borderColor: "#4AFF32",
			fill: false
	      }

	    ]
	  };








	var myChart = new Chart(ctx, {
	  type: 'line',
	  data: data,
	              options: {
                responsive: false
            }
	});

	chartupdate(data_array);




function chartupdate(data_array){

	



	for (var i = 13; i <= data_array.length-13; i=i+13) {

		var randomColor = "#000000".replace(/0/g,function(){return (~~(Math.random()*16)).toString(16);});
		var custom_label_1;
		var temp_arr_dat_1 = [];
		var custom_label_1 =  'sensor-'+ data_array[i];
			for (var h = i+1; h <=12+i; h++) {
		temp_arr_dat_1.push(data_array[h]);
	}

	

		var newDataset = {
	        label: custom_label_1,
	        borderColor: randomColor,
	        data: temp_arr_dat_1,
	    }

	    // You add the newly created dataset to the list of `data`
	    data.datasets.push(newDataset);

	    // You update the chart to take into account the new dataset
	    myChart.update();

	}

}



</script>

</div>




<div align="center">



<div class="panel-group">
	<div class="panel panel-default" style="background:transparent;">
		<div class="panel-heading" style="background:transparent;" border="none">
			<h4 class="panel-title">
				<a data-toggle="collapse" href="#collapse2" style="background:transparent;">Hourly Analysis for today</a>
			</h4>
		</div>
		<div id="collapse2" class="panel-collapse collapse">
			<canvas id="myChart1" width="900" height="300"></canvas>
		</div>
	</div>
</div>


<script type="text/javascript">
	
	var data_array_1 = JSON.parse("{{chart_data_day|escapejs}}");
	

	var custom_label_1;
	var temp_arr_dat_1 = [];

	var x_axis_1 = ["00:00","1:00","2:00","3:00","4:00","5:00","6:00","7:00","8:00","9:00","10:00","11:00","12:00","13:00","14:00","15:00","16:00","17:00","18:00","19:00","20:00","21:00","22:00","23:00"];
	//var sen1 = [3200, 6000,500,4300]
	custom_label_1 = 'sensor-'+ data_array_1[0];
	for (var i = 1; i <=24; i++) {
		temp_arr_dat_1.push(data_array_1[i]);
	}

	var ctx_1 = document.getElementById("myChart1");

	var data_1 ={
	    labels: x_axis_1,
	    datasets: [
	      { 
	        data: temp_arr_dat_1,
	        label: custom_label_1,
	        borderColor: "#4AFF32",
			fill: false
	      }

	    ]
	  };








	var myChart1 = new Chart(ctx_1, {
	  type: 'line',
	  data: data_1,
	              options: {
                responsive: false
            }
	});

	chartupdate_1(data_array_1);




function chartupdate_1(data_array_1){

	



	for (var i = 25; i <= data_array_1.length-25; i=i+25) {

		var randomColor = "#000000".replace(/0/g,function(){return (~~(Math.random()*16)).toString(16);});
		var custom_label_1;
		var temp_arr_dat_1 = [];
		var custom_label_1 =  'sensor-'+ data_array_1[i];
			for (var h = i+1; h <=24+i; h++) {
		temp_arr_dat_1.push(data_array_1[h]);
	}

	

		var newDataset_1 = {
	        label: custom_label_1,
	        borderColor: randomColor,
	        data: temp_arr_dat_1,
	    }

	    // You add the newly created dataset to the list of `data`
	    data_1.datasets.push(newDataset_1);

	    // You update the chart to take into account the new dataset
	    myChart1.update();

	}

}



</script>






</div>



<div align="center">

<button type="button" onclick="download()">EMAIL me CSV data</button>
 
<script type="text/javascript">
	function download(){


				$.ajax({
        	url: 'ajax/download_csv/',
        	type: 'post',
        	data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
        	dataType: 'json',
        	success: function (data) {}  });
}

</script>


</div>









{% endblock %}