{% extends 'demosky/base.html' %}
{% load staticfiles %}
{% block title_block %}Home Page{% endblock %}

 {% block body_block %}

<div align="center" >
     <!--  <input type="text" id="search-criteria" value="" /> -->
</div>



<h1 align="center" class="headers" style="font: bold 50px/50px Georgia, serif;" >Hoosier National Forest</h1>
 <!-- <div id="map" style="width:1000px;height:450px;background:yellow; margin: 0 auto 0 auto;"></div> -->

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" >
   
    <div class="item active">
      <div id="map" style="height:450px;"></div>
    </div>
    <div class="item">
      <img src="/static/DarkSky-Dev/imgs/sky1.jpg " style="height:450px; width: 100%" >
    </div>
    <div class="item">
      <img src="/static/DarkSky-Dev/imgs/sky6.png" style="height:450px; width: 100%" >
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!-- 
 
 -->
 <div class="text-big" id="try">
</div>

 <div class="text-big" id="try1">
</div>


</div>

<script type="text/javascript">


function myMap(searchObj) {
	//console.log(searchObj);
	var ujer = '{{user}}';
	var myObj, j=[], x="";
	myObj = JSON.parse("{{full_list|escapejs}}");
	Object.keys(myObj).forEach(function(key,index){
		j.push(myObj[key]);
	});

	console.log(j);

	var mapOptions = {
    	center: new google.maps.LatLng(j[0][1],j[0][2]),
    	zoom: 14,
    	mapTypeId: google.maps.MapTypeId.HYBRID
	}

	var map = new google.maps.Map(document.getElementById("map"), mapOptions);

	var marker,i;
	var size = Object.keys(j).length;
	//alert(size);

		 for (i = 0; i < size; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(j[i][1], j[i][2]),
        map: map,
        title: j[i][3],
      });


    var infowindow = new google.maps.InfoWindow();
    var contentString;
     google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {


        	contentString =
          	     '<div id="content">'+
				'<p>' +'Sensor '+j[i][0]+'<br/>' +
				'<img src="/static/DarkSky-Dev/imgs/' + j[i][3] + '.jpg"/>'+
				'<br/>' + '<br/>'+ '<div id="test1" hidden>' + j[i][0] + '</div>' +
				'Sensor light level :' + '<br/>' + '<p id="test">' + '<img src="/static/DarkSky-Dev/imgs/';
				if(j[i][4]<33){
					contentString += 'lightlow.png" style="width:20px;height:20px"/>';
				}
				else if(j[i][4]>66){
					contentString += 'lighthigh.png" style="width:20px;height:20px"/>';
				}
				else {
					contentString += 'lightmed.png" style="width:20px;height:20px"/>';
				}

				contentString +=j[i][4] + '</p>' + '<br/>' +

				'Sensor battery level :'  + '<br/>' + '<img src="/static/DarkSky-Dev/imgs/';
				if(j[i][5]<33){
					contentString += 'Batterylow.png" style="width:20px;height:20px"/>';
				}
				else if(j[i][5]>66){
					contentString += 'Batteryhigh.png" style="width:20px;height:20px"/>';
				}
				else {
					contentString += 'Batterymed.png" style="width:20px;height:20px"/>';
				}
				contentString+=  j[i][5] +'%'+
				'</p>';

          infowindow.setContent( contentString );
          infowindow.open(map, marker);
        }
      })(marker, i));
}}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA22S--gBRL49Y2SRDiE15XMlmvf2DEQ3Y&callback=myMap"></script>


<!-- Bar format by Adarsh -->

<!-- Adding another bar for displaying information-->
<h2 align="center" margin-top="40px"></h2>
<!-- <div class= "badatable" id="testtable"> -->
  
</div>

<div id="sensor">
	
</div>

<p align="center">
	Please login to make use of core features like bookmarking sensors, discussion boards etc.
</p>
<script type="text/javascript">

//alert("hello");
/*var x=sensor();


    var html = "<table border='5px' style='width:1000px' align='center' background=''>";

    html+="<tr class='noBorder'style='background-color:#BBBBBB'>";
    for (var i = 0; i < x.length; i++) {
        html+="<td>Sensor "+x[i][1]+"</td>";
    }
    html+="</tr>";
    html+="<tr class='noBorder'>";
    for (var i = 0; i < x.length; i++) {
      html+="<td>Light Intensity: "+x[i][0]+"</td>";
    }
    html+="</tr>";
    html+="<tr>";
    for (var i = 0; i < x.length; i++) {
      if(x[i][0]<34){
        html+="<td><img src='/static/DarkSky-Dev/imgs/Meterlow.png' width='130px' height ='100px'></td>";
      }
      else if(x[i][0]>66){
        html+="<td><img src='/static/DarkSky-Dev/imgs/Meterhigh.png' width='130px' height ='100px' ></td>";
      }
      else{
        html+="<td><img src='/static/DarkSky-Dev/imgs/Metermed.png' width='130px' height ='100px' ></td>";
      }
    }
    html+="</tr>";

    html+="</table>";
document.getElementById("testtable").innerHTML = html;


function sensor() {
	// body...
	var myObj1, q=[];
	myObj1 = JSON.parse("{{light_list|escapejs}}");
	Object.keys(myObj1).forEach(function(key,index){
		q.push(myObj1[key]);
	});

	var keySorted = q.sort(function(a, b){return a[0] - b[0]});
	return q;

}
*/	
</script>

{% endblock %}