{% extends 'demosky/base.html' %}

{% block title_block %} Login Page {% endblock %}
{% block head_block %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


{% endblock %}

{% block body_block %}



<div class="container loginbox" align="center" class="text-big" id="loginbox" style="padding-top:47px">

{% if user.is_authenticated %}
	
	<meta http-equiv="REFRESH" content="0;url=http://127.0.0.1:8000/demosky/">   

{% else %}
   

		
		<form class="form-horizontal" method="post">
				{% csrf_token %}
				<div class="main-login main-center">
					<div class="form-group">
						<label for="username" class="cols-sm-2 control-label">Username</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="username" id="username" required id="id_username" placeholder="Enter your Username"/>
							</div>
						</div>
				</div>

				<div class="form-group">
					<label for="password" class="cols-sm-2 control-label">Password</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
							<input type="password" class="form-control" name="password" id="password" required id="id_password" placeholder="Enter your Password"/>
						</div>
					</div>
				</div>
				<div class="form-group ">
					<button class="btn btn-primary btn-lg btn-block login-button" type="submit" id="loginbtn"> Login</button>
					<a class="btn btn-primary btn-lg btn-block login-button" type="button" id="register" href= "/demosky/register">Register</a>
					<a href ="/demosky/reset-password" style="color:blue"> Forgot Password?</a>
				</div>
				</div>
			</form>


		
	<!-- 	<a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
		<a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a> -->
	<!-- 	<a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a> -->
	<br/>
	
	<br/> Login via: &nbsp;
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-google">
					<i class="fa fa-google-plus"></i>
				</a>
				<a href="{% url 'social:begin' 'facebook' %}" class="btn btn-facebook">
			        <i class="fa fa-facebook"></i>
			    </a>


		

	</form>

{% endif %}


	</div>
{% endblock %}
